<div class="tab-content tab-histogram additional">
	<h3 class="text-center m-b-20">Гистограмма входных данных</h3>
	<canvas id="simple_histogram" width="280" height="100" data-input-numbers="<%= @histograma %>" data-input-labels="<%= @histograma_label %>"></canvas>

	<div class="row teoriya">
		<h3 class="text-center m-b-15">Краткие теоретические сведения</h3>
		<p><strong>Гистограмма</strong> — способ графического представления табличных данных. В статистике гистограмма — наглядное представление функции плотности вероятности некоторой случайной величины, построенное по выборке. Данное понятие и название для него введены Карлом Пирсоном в 1895 году.</p>

		<p>Гистограмма строится следующим образом. Сначала множество значений, которое может принимать элемент выборки, разбивается на несколько интервалов (bins). Чаще всего эти интервалы берут одинаковыми, но это не является строгим требованием. Эти интервалы откладываются на горизонтальной оси, затем над каждым рисуется прямоугольник. Если все интервалы были одинаковыми, то высота каждого прямоугольника пропорциональна числу элементов выборки, попадающих в соответствующий интервал. Если интервалы разные, то высота прямоугольника выбирается таким образом, чтобы его площадь была пропорциональна числу элементов выборки, которые попали в этот интервал.</p>
	</div>
	<script type="text/javascript">
		sHistorgram = $('#simple_histogram')
		ssh(sHistorgram.data('input-labels'), sHistorgram.data('input-numbers'))
	</script>
</div>