<div class="tab-content tab-spectre additional">
	<h3 class="text-center m-b-20">Модуль ДПФ</h3>
	<canvas id="simple_spectrum" width="280" height="100" data-input-numbers="<%= @spectrum %>" data-input-labels="<%= @spectrum_label %>"></canvas>

	<div class="row teoriya">
		<h3 class="text-center m-b-15">Краткие теоретические сведения</h3>
		<p><strong>Спектр сигнала</strong> — в радиотехнике это результат разложения сигнала на более простые в базисе ортогональных функций. В качестве разложения обычно используются преобразование Фурье, разложение по функциям Уолша, вейвлет-преобразование и др.</p>

		<p><strong>Быстрое преобразование Фурье (БПФ, FFT)</strong> — алгоритм быстрого вычисления дискретного преобразования Фурье (ДПФ). То есть, алгоритм вычисления за количество действий меньшее, чем O(N<sup>2</sup>), требуемых для прямого (по формуле) вычисления ДПФ. Иногда под БПФ понимается один из быстрых алгоритмов, называемый алгоритмом прореживания по частоте/времени, имеющий сложность O(N log(N)).</p>

		<p><strong>Простой алгоритм Кули-Тьюки</strong> - один из вариантов быстрого преобразования Фурье для комплексных векторов с размерностью, равной степени двойки, без использования специфичных приёмов, использующихся для степеней четвёрки, восьмёрки и др. Заключается в последовательном применении метода быстрого преобразования Фурье и сведении преобразования к последовательности преобразований Фурье размерности 2 и выполнения умножений на т.н. поворотные множители. Несмотря на то, что проигрывает алгоритмам Кули-Тьюки, разлагающим степени двойки на степени 4, 8 и др. и использующим их специфику, весьма распространён, что связано с самой простой из алгоритмов БПФ записью программной реализации.</p>

	</div>

	<script type="text/javascript">
		sSpectrum = $('#simple_spectrum')
		sss(sSpectrum.data('input-labels'), sSpectrum.data('input-numbers'))

	</script>

</div>
