<div class="tab-content tab-statistic additional">
	<h3 class="text-center m-b-30">Вычисление статистических параметров</h3>

	<div class="m-b-30">	
		<table class="table table-bordered table-striped">
			<tbody>
				<% (@l.count >= @r.count ? @l.count : @r.count).times do |d| %>
					<tr class="table-primary">
						<td><%= @attribute_labels[@l[d][0].to_sym] %>: <%= @l[d][1] || "Невозможно вычислить" %>
						</td>
						<td><% if @r[d] %><%= @attribute_labels[@r[d][0].to_sym] %>: <%= @r[d][1] || "Невозможно вычислить" %><% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<div class="row teoriya">
		<h3 class="text-center m-b-15">Краткие теоретические сведения</h3>
		<p><strong>Медиана</strong> в математической статистике — число, характеризующее выборку (например, набор чисел). Если все элементы выборки различны, то медиана — это такое число выборки, что ровно половина из элементов выборки больше него, а другая половина меньше него. В более общем случае медиану можно найти, упорядочив элементы выборки по возрастанию или убыванию и взяв средний элемент.</p>

		<p><strong>Моода</strong> — значение во множестве наблюдений, которое встречается наиболее часто. (Мода = типичность.) Иногда в совокупности встречается более чем одна мода (например: 6, 2, 6, 6, 8, 9, 9, 9, 0; мода — 6 и 9). В этом случае можно сказать, что совокупность мультимодальна. Из структурных средних величин только мода обладает таким уникальным свойством.</p>

		<p><strong>Математи́ческое ожидание</strong> — среднее значение случайной величины (распределение вероятностей стационарной случайной величины) при стремлении количества выборок или количества измерений (иногда говорят — количества испытаний) её к бесконечности.</p>

		<p><strong>Дисперсия случайной величины</strong> — мера разброса значений случайной величины относительно её математического ожидания. Обозначается <strong>D[X]</strong> в русской литературе и Var(X) (англ. variance) в зарубежной. В статистике часто употребляется обозначение σ<sup>2</sup> или σ<sup>2</sup><sub>X</sub>.</p>

		<p><strong>Среднеквадратмческое отклонение</strong> — в теории вероятностей и статистике наиболее распространённый показатель рассеивания значений случайной величины относительно её математического ожидания. При ограниченных массивах выборок значений вместо математического ожидания используется среднее арифметическое совокупности выборок (измерений), это среднее арифметическое называют оценкой математического ожидания.</p>

		<p></p>
	</div>
</div>