<div class="center">
	<nav class="site-header sticky-top py-1 tabs">
	  <div class="container d-flex flex-column flex-md-row justify-content-between">
	    <div class="tab btn-primary" onclick="tabClick(this)" data-tab-name="tab-option" id="main_tab">Опции</div>
		<div class="tab" onclick="tabClick(this, 'statistic')" data-tab-name="tab-statistic">Статистические параметры</div>
		<div class="tab" onclick="tabClick(this, 'graphic')" data-tab-name="tab-graphic">График</div>
		<div class="tab" onclick="tabClick(this, 'spectre')" data-tab-name="tab-spectre">Модуль ДПФ</div>
		<div class="tab" onclick="tabClick(this, 'histograma')" data-tab-name="tab-histogram">Гистограмма</div>
		<div class="tab" onclick="tabClick(this, 'correlation')" data-tab-name="tab-correlation">Корреляционная функция</div>
		<div class="tab" onclick="tabClick(this, 'periodogramma')" data-tab-name="tab-periodgramma">ММП</div>
	  </div>
	</nav>

	<div class="container main-container">
		<div class="starter-template">
			<div class="tabs-content">
				<%= render partial: "options_statistics" %>
			</div>
		</div>
	</div>
O
	<footer class="footer">
      <div class="container">
        <span class="text-muted">Все права защищены</span>
      </div>
    </footer>


	<div id="popup">
		<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
	</div>
</div>