// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-input, .m-b-20 {
	margin-bottom: 20px;
}
.m-t-10 {
	margin-top: 10px;
}
.m-b-30 {
	margin-bottom: 30px;
}
.tabs {
	border-bottom: 1px solid #337ab7;
}
.tab {
	display: none;
}
.tab .btn-primary {
	display: block;
}
.tabs .tab {
	border-radius: 6px 6px 0 0;
}
.tab-content {
	display: none;
}
.active-tab-content {
	display: block;
}