// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-input, .m-b-20 {
	margin-bottom: 20px;
}
.m-t-10 {
	margin-top: 10px;
}
.m-b-30 {
	margin-bottom: 30px;
}